body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  background: green;
  flex-basis: 100px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  flex-basis: 600px;
}

article {
  background: lightgoldenrodyellow;
  flex: 4 0 60%;
}

nav {
  order: -1;
  background: lightgray;
  flex: 1 1 20%;
}

aside {
  background: lightskyblue;
  flex: 1 1 20%;
}

main > *,
header,
footer {
  margin: 4px;
  padding: 5px;
  border-radius: 7px;
}

@media all and (max-width: 640px) {
  main {
    flex-direction: column;
    flex-grow: 1;
  }
  nav {
    order: 0;
  }
}
